@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.eot');
  src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fjalla One';
  src: url('../fonts/FjallaOne/FjallaOne-Regular.eot');
  src: url('../fonts/FjallaOne/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FjallaOne/FjallaOne-Regular.woff2') format('woff2'),
  url('../fonts/FjallaOne/FjallaOne-Regular.woff') format('woff'),
  url('../fonts/FjallaOne/FjallaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

