$main_color: #4e6371;
$dark: #232e35;
$red: #D6110B;
$white: #ffffff;
$gray: #767676;
$lighter_gray: #999999;

$slow_transition: all 0.5s ease-out;
$transition: all 0.2s linear;

$font_family: 'Poppins';
$font_family2: 'Fjalla One';

