@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.eot");
  src: url("../fonts/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fjalla One";
  src: url("../fonts/FjallaOne/FjallaOne-Regular.eot");
  src: url("../fonts/FjallaOne/FjallaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FjallaOne/FjallaOne-Regular.woff2") format("woff2"), url("../fonts/FjallaOne/FjallaOne-Regular.woff") format("woff"), url("../fonts/FjallaOne/FjallaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  font-family: "Poppins";
  color: #4e6371;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.box-title {
  font-size: 20px;
  color: #232e35;
  text-transform: uppercase;
}

.news__thumbnail-img, .characteristic__img, .post__thumbnail-img, .blog-post__author-avatar, .blog-post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-red {
  color: #D6110B;
}

.content-clickable {
  position: relative;
  cursor: pointer;
}

@media (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
}

.header {
  position: relative;
  color: #ffffff;
}
.header__main {
  position: relative;
  z-index: 9;
}
.header__caption {
  max-width: 500px;
}
.header__content {
  position: relative;
  z-index: 2;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Fjalla One";
  padding-top: 280px;
}
@media (max-width: 991px) {
  .header__title {
    padding-top: 150px;
  }
}
.header__overlay, .contact__overlay, .footer__overlay, .menu__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  background-color: #000;
  z-index: 1;
}
.header__icon {
  width: 16px;
}
.header__carousel .owl-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 95px;
}
@media (max-width: 767px) {
  .header__carousel .owl-nav {
    font-size: 30px;
  }
}
.header__carousel .owl-nav button:hover {
  background: transparent !important;
}
.header__carousel .owl-nav button:focus {
  outline: none !important;
}
.header_home .header__content {
  height: 100vh;
  background-attachment: unset;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s linear;
  z-index: 10;
}
.menu__overlay {
  position: fixed;
  z-index: -3;
  visibility: hidden;
}
.menu__overlay.show {
  z-index: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .menu__overlay.show {
    visibility: hidden;
  }
}
.menu__list {
  display: flex;
  transition: all 0.2s linear;
}
@media (max-width: 991px) {
  .menu__list {
    flex-direction: column;
    position: fixed;
    left: -350px;
    right: 0;
    max-width: 350px;
    width: 100%;
    top: 0;
    height: 100%;
    background: #ffffff;
  }
  .menu__list.open {
    left: 0;
    z-index: 9;
  }
}
.menu__logo-img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .menu__logo-img {
    max-width: 150px;
  }
}
.menu__toggler-mobile {
  cursor: pointer;
  width: 18px;
}
@media (min-width: 992px) {
  .menu__toggler-mobile {
    display: none;
  }
}
.menu__item {
  position: relative;
}
@media (max-width: 991px) {
  .menu__item.open .menu__submenu {
    max-height: 1500px;
  }
}
.menu__item.open .menu__sub-open-btn, .menu__item.open .menu__sub-close-btn {
  display: none;
}
.menu__item.open .menu__sub-close-btn {
  display: block;
}
.menu__item.active .menu__link {
  color: #D6110B;
}
.menu__item:hover .menu__submenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
.menu__sub-open-btn, .menu__sub-close-btn {
  fill: #D6110B;
  max-width: 15px;
  height: unset;
  display: none;
}
@media (max-width: 991px) {
  .menu__sub-open-btn, .menu__sub-close-btn {
    display: inline-flex;
  }
}
.menu__sub-close-btn {
  display: none;
}
.menu__link {
  color: #ffffff;
  font-family: "Fjalla One";
  transition: all 0.2s linear;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 35px 12px;
  display: inline-flex;
}
.menu__link:before {
  content: "";
  position: absolute;
  width: 8px;
  background-color: #D6110B;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0;
  transition: all 0.5s ease-out;
}
@media (min-width: 992px) {
  .menu__link:hover {
    color: #D6110B;
  }
  .menu__link:hover:before {
    height: 30%;
  }
}
@media (max-width: 991px) {
  .menu__link {
    color: #000 !important;
    background: #ffffff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .menu__link:hover {
    color: #D6110B !important;
    background-color: #f0f0f0;
  }
}
.menu.scrolled {
  background-color: #232e35;
}

.header-breadcrumb__item:not(:last-child) {
  margin-right: 12px;
}
.header-breadcrumb__item:not(:last-child):after {
  content: "";
  background-image: url("../img/icons/icon-right-arrow.svg");
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.header-breadcrumb__item:last-child {
  pointer-events: none;
}
.header-breadcrumb__link {
  font-size: 12px;
  color: #ffffff;
  transition: all 0.2s linear;
  text-transform: capitalize;
}
.header-breadcrumb__link:hover {
  color: #D6110B;
}

.close-icon {
  display: none;
}

.menu-toggler {
  cursor: pointer;
}
.menu-toggler__line {
  width: 20px;
  height: 2px;
  background: #ffffff;
  display: block;
}
.menu-toggler__line_2 {
  margin-top: 5px;
}
.menu-toggler__line_3 {
  margin-top: 5px;
}

.share-block.active .share-block__item {
  visibility: visible;
  height: 40px;
}
.share-block.active .close-icon {
  display: block !important;
}
.share-block.active .header__icon {
  display: none;
}
.share-block__content, .search-block__content {
  position: absolute;
  right: 0;
  bottom: -60px;
}
.share-block__item {
  background-color: #efefef;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  height: 0;
  visibility: hidden;
}
.share-block__item:hover .share-block__icon {
  fill: #ffffff;
}
.share-block__item_facebook:hover {
  background: #3b5998;
}
.share-block__item_google:hover {
  background: #dd4b39;
}
.share-block__item_instagram:hover {
  background: #517fa4;
}
.share-block__item_tumblr:hover {
  background: #32506d;
}
.share-block__item_twitter:hover {
  background: #00aced;
}
.share-block__item_youtube:hover {
  background: #bb0000;
}
.share-block__icon {
  transition: all 0.2s linear;
  max-width: 15px;
  fill: #000;
}

.search-block.active .close-icon {
  display: block !important;
}
.search-block.active .header__icon {
  display: none;
}
.search-block.active .search-block__input {
  height: 40px;
  padding: 9px 12px 9px 10px;
  border: 1px solid #ddd;
}
.search-block__input {
  transition: all 0.2s linear;
  width: 200px;
  font-size: 13px;
  line-height: 20px;
  outline: none;
  height: 0;
  padding: 0;
  border: none;
}

.blog-post {
  position: relative;
  z-index: 0;
}
.blog-post:not(:first-child) {
  margin-top: 25px;
}
.blog-post__image-wrapper {
  padding-top: 45%;
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.blog-post__image-wrapper:hover .blog-post__image {
  transform: scale(1.6);
}
.blog-post__category {
  position: absolute;
  color: #ffffff;
  background-color: #D6110B;
  left: 30px;
  bottom: 60px;
  text-transform: capitalize;
  display: inline-block;
  padding: 2px 8px;
  z-index: 9;
}
.blog-post__author {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -37px;
  margin-left: 30px;
  z-index: 9;
  position: relative;
}
.blog-post__image {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  transition: 1.5s ease;
}
.blog-post__author-name {
  color: #D6110B;
}
.blog-post__title {
  color: #232e35;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Poppins";
}
.blog-post__open-btn {
  color: #D6110B;
  font-family: "Fjalla One";
  text-transform: uppercase;
  position: relative;
}
.blog-post__open-btn:hover {
  color: #232e35;
}
.blog-post__open-btn:hover .blog-post__right-arrow {
  color: #232e35;
  left: calc(100% + 10px);
  opacity: 1;
}
.blog-post__right-arrow {
  opacity: 0;
  width: 15px;
  position: absolute;
  left: 0;
  color: #D6110B;
  transition: all 0.2s linear;
}

.blogs-pagination__item:not(:last-child) .blogs-pagination__link {
  border-right: none !important;
}
.blogs-pagination__link {
  min-width: 33px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  color: #767676;
  transition: all 0.2s linear;
  font-weight: 500;
}
.blogs-pagination__link:hover {
  background-color: #D6110B;
  color: #ffffff;
}
.blogs-pagination__link_arrow {
  font-family: "Fjalla One";
  font-size: 15px;
}

.footer {
  background-image: url("../img/bg1.jpg");
  position: relative;
  color: #999999;
}
.footer__content {
  position: relative;
  z-index: 9;
}
.footer__overlay {
  background-color: #232e35;
  opacity: 0.9;
}
.footer__col-header {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}
.footer__col-item {
  margin-bottom: 20px;
}
.footer__link {
  color: #999999;
  transition: all 0.2s linear;
}
.footer__link:hover {
  color: #D6110B;
}
.footer__subscribe-input {
  padding: 13px;
  border-radius: 0;
  border: 1px solid #eee;
  height: 53px;
  margin-right: 0;
  outline: none;
  max-width: 60%;
}
.footer__copyright {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.footer__subscribe-btn {
  background: #D6110B;
  color: rgba(0, 0, 0, 0) !important;
  text-transform: uppercase;
  padding: 10px 25px;
  border: none;
  height: 53px;
  margin-left: -5px;
  font-family: "Fjalla One";
  text-shadow: 0 0 0 #ffffff, 200px 0 0 #ffffff;
  overflow: hidden;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer__subscribe-btn_small {
  height: 40px;
  font-size: 14px;
}
.footer__subscribe-btn:hover {
  text-shadow: -200px 0 0 #ffffff, 0 0 0 #ffffff;
}
.footer__cols {
  border-bottom: 1px solid #424242;
}
.footer__social-icon {
  transition: all 0.2s linear;
  fill: #ffffff;
  max-width: 12px;
}
.footer__social-item {
  display: inline-flex;
  width: 15px;
  align-items: center;
  justify-content: center;
}
.footer__social-item:not(:first-child) {
  margin-left: 8px;
}
.footer__social-item:hover .footer__social-icon {
  fill: #D6110B;
}

.search-box__input {
  height: 40px;
  font-size: 13px;
  line-height: 20px;
  padding: 9px 12px 9px 10px;
  border: 1px solid #e1e1e1;
  width: calc(100% - 40px);
}
.search-box__btn {
  background: transparent;
  border: 1px solid #e1e1e1;
  border-left-color: transparent;
  height: 40px;
  width: 40px;
  float: right;
  cursor: pointer;
}
.search-box__icon {
  width: 15px;
}

.categories__item {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 10px 10px 15px;
  font-size: 16px;
  color: #232e35;
}
.categories__txt {
  transition: all 0.2s linear;
  color: #232e35;
}
.categories__txt:hover {
  color: #999999;
}
.categories__count {
  font-size: 12px;
}

.post__thumbnail {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.post__item {
  color: #232e35;
}
.post__title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.post__date {
  color: #767676;
  margin-top: 15px;
  font-size: 14px;
}

.tag__item {
  padding: 8px 14px;
  font-size: 16px;
  display: inline-block;
  margin: 0 0 5px;
  color: #232e35;
  position: relative;
  background-color: #f9f9f9;
  transition: all 0.2s linear;
  cursor: pointer;
}
.tag__item:hover {
  color: #767676;
}

.characteristics {
  margin-top: -100px;
  background: #f6f7f8;
}

.characteristic {
  position: relative;
}
.characteristic:hover .characteristic__hover {
  opacity: 1;
  bottom: 0;
  visibility: visible;
}
.characteristic__thumbnail {
  padding-top: 100%;
  position: relative;
  z-index: 9;
}
.characteristic__img {
  position: absolute;
  top: 0;
  left: 0;
}
.characteristic__hover {
  text-align: center;
  padding: 25px;
  color: #ffffff;
  background: #D6110B;
  transition: all 0.5s ease-out;
  position: absolute;
  bottom: -80px;
  opacity: 0;
  z-index: 9;
  visibility: hidden;
}
.characteristic__title {
  text-transform: uppercase;
  color: #232e35;
  margin-top: 20px;
}
.characteristic__more {
  color: #ffffff;
}
.characteristic__more:hover {
  color: #232e35;
}

.about {
  background: #f6f7f8;
}
.about__icon img {
  width: 30px;
}
.about__item {
  background: #ffffff;
  padding: 20px;
  transition: all 0.2s linear;
}
.about__item:hover {
  background: #232e35;
  color: #ffffff;
}
.about__item:hover .box-title {
  color: #ffffff;
}
.about .footer__subscribe-btn {
  margin-bottom: -45px;
  display: block;
}

.services {
  background: #f6f7f8;
  position: relative;
}
.services__icon img {
  width: 30px;
}
.services__content {
  position: relative;
  z-index: 9;
  color: #ffffff;
}
@media (max-width: 991px) {
  .services__content {
    color: #232e35;
  }
}
.services:after {
  content: "";
  background: url("../img/bg-3.jpg");
  filter: brightness(0.2);
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 991px) {
  .services:after {
    display: none;
  }
}
.services__item {
  background: #ffffff;
  padding: 30px;
  color: #232e35;
  line-height: 35px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.services__item:after {
  content: "";
  position: absolute;
  border: 13px solid #D6110B;
  border-left-color: transparent;
  border-top-color: transparent;
  right: 4px;
  display: none;
}
.services__item.active {
  color: #ffffff;
  background: #232e35;
}
.services__item.active:after {
  display: block;
}
.services__thumbnail-image {
  max-width: 100%;
}

.contact {
  background: url("../img/bg-5.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
}
.contact__car {
  max-width: 290px;
}
@media (max-width: 767px) {
  .contact__car {
    max-width: 150px;
  }
}
@media (max-width: 575px) {
  .contact__car {
    max-width: 100px;
  }
}
.contact__cars {
  position: absolute;
  z-index: 9;
  width: 100%;
  bottom: -65px;
}
@media (max-width: 767px) {
  .contact__cars {
    bottom: -30px;
  }
}
.contact__caption {
  max-width: 400px;
  margin: auto;
}
.contact__content {
  position: relative;
  z-index: 8;
}

.reasons {
  position: relative;
  background-image: url("../img/bg-4.jpg");
  background-size: cover;
}
.reasons__icon img {
  width: 30px;
}
.reasons__img-item {
  max-width: 100%;
}
.reasons__list-item {
  padding-left: 20px;
  position: relative;
}
.reasons__list-item:before {
  content: ">";
  color: #232e35;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.reasons__title {
  color: #232e35;
}
.reasons__main {
  background: #ffffff;
}
.reasons__item {
  cursor: pointer;
  padding: 20px 5px;
}
.reasons__item.selected {
  background: #ffffff;
}
.reasons__content {
  position: relative;
  z-index: 8;
}
.reasons__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  opacity: 0.9;
}

.offer {
  position: relative;
  color: #ffffff;
  background: #f6f7f8;
}
@media (max-width: 767px) {
  .offer {
    color: #232e35;
  }
}
.offer__scissors {
  width: 60px;
  height: 50px;
  fill: #ffffff;
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media (max-width: 767px) {
  .offer__scissors {
    fill: #232e35;
  }
}
.offer__right-content {
  position: relative;
  z-index: 8;
  display: inline-block;
  border: 2px dashed #ffffff;
  padding: 30px;
}
@media (max-width: 767px) {
  .offer__right-content {
    border-color: #232e35;
  }
}
.offer__coupon {
  line-height: 40px;
}
.offer__percent {
  font-size: 60px;
  font-family: "Fjalla One";
}
@media (max-width: 767px) {
  .offer__percent {
    font-size: 40px;
  }
}
.offer__overlay {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 100%;
  background: #D6110B;
  opacity: 0.9;
  z-index: 8;
}
@media (max-width: 767px) {
  .offer__overlay {
    display: none;
  }
}
.offer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: calc(100% - 30px);
  background: #232e35;
}
@media (max-width: 767px) {
  .offer:before {
    display: none;
  }
}
.offer:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url("../img/bg-6.jpg");
  background-size: cover;
}
@media (max-width: 767px) {
  .offer:after {
    display: none;
  }
}
.offer__btn {
  color: #ffffff;
}
@media (max-width: 767px) {
  .offer__btn {
    color: #232e35;
  }
}
.news {
  background: #f6f7f8;
}
.news__item {
  background: #ffffff;
}
.news__title {
  color: #232e35;
}
.news__thumbnail {
  width: 70%;
  height: 300px;
}
@media (max-width: 575px) {
  .news__thumbnail {
    width: 90%;
  }
}
.news__details {
  padding: 30px;
}

/*# sourceMappingURL=index.css.map */
