@use "fonts";
@use "variables";
@use "media";

html, body {
  font-family: variables.$font_family;
  color: variables.$main_color;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.box-title {
  font-size: 20px;
  color: variables.$dark;
  text-transform: uppercase;
}

%fitted-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-red {
  color: variables.$red;
}

.content-clickable {
  position: relative;
  cursor: pointer;
}

h2 {
  @include media.md-less {
    font-size: 25px;
  }
}

.header {
  //background-position: center;
  position: relative;
  color: variables.$white;

  &__main {
    position: relative;
    z-index: 9;
  }

  &__caption {
    max-width: 500px;
  }

  &__content {
    position: relative;
    z-index: 2;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  &__title {
    text-transform: uppercase;
    font-size: 40px;
    font-family: variables.$font_family2;
    padding-top: 280px;

    @include media.lg-less {
      padding-top: 150px;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    background-color: #000;
    z-index: 1;
  }

  &__icon {
    width: 16px;
  }

  &__carousel {
    .owl-nav {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 95px;

      @include media.md-less {
        font-size: 30px;
      }

      button {
        &:hover {
          background: transparent !important;
        }

        &:focus {
          outline: none !important;
        }
      }
    }
  }

  &_home {
    .header__content {
      height: 100vh;
      background-attachment: unset;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: variables.$transition;
  z-index: 10;

  &__overlay {
    @extend .header__overlay;
    position: fixed;
    z-index: -3;
    visibility: hidden;

    &.show {
      z-index: 1;
      visibility: visible;

      @include media.lg {
        visibility: hidden;
      }
    }
  }

  &__list {
    display: flex;
    transition: variables.$transition;

    @include media.lg-less {
      flex-direction: column;
      position: fixed;
      left: -350px;
      right: 0;
      max-width: 350px;
      width: 100%;
      top: 0;
      height: 100%;
      background: variables.$white;

      &.open {
        left: 0;
        z-index: 9;
      }
    }
  }

  &__logo-img {
    max-width: 100%;

    @include media.lg-less {
      max-width: 150px;
    }
  }

  &__toggler-mobile {
    cursor: pointer;
    width: 18px;

    @include media.lg {
      display: none;
    }
  }

  &__item {
    position: relative;

    &.open {
      .menu__submenu {
        @include media.lg-less {
          max-height: 1500px;
        }
      }

      .menu__sub-open-btn {
        display: none;
      }

      .menu__sub-close-btn {
        display: block;
      }
    }

    &.active {
      .menu__link {
        color: variables.$red;
      }
    }

    &:hover {
      .menu__submenu {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__sub-open-btn {
    fill: variables.$red;
    max-width: 15px;
    height: unset;
    display: none;

    @include media.lg-less {
      display: inline-flex;
    }
  }

  &__sub-close-btn {
    @extend .menu__sub-open-btn;
    display: none;
  }

  &__link {
    color: variables.$white;
    font-family: variables.$font_family2;
    transition: variables.$transition;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 35px 12px;
    display: inline-flex;

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      background-color: variables.$red;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 0;
      transition: variables.$slow_transition;
    }

    @include media.lg {
      &:hover {
        color: variables.$red;

        &:before {
          height: 30%;
        }
      }
    }

    @include media.lg-less {
      color: #000 !important;
      background: variables.$white;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      &:hover {
        color: variables.$red !important;
        background-color: #f0f0f0;
      }
    }
  }

  &.scrolled {
    background-color: variables.$dark;
  }

  //@include media.lg-less {
  //  position: relative;
  //}
}

.header-breadcrumb {
  &__item {
    &:not(:last-child) {
      margin-right: 12px;


      &:after {
        content: "";
        background-image: url("../img/icons/icon-right-arrow.svg");
        width: 10px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }

  &__link {
    font-size: 12px;
    color: variables.$white;
    transition: variables.$transition;
    text-transform: capitalize;

    &:hover {
      color: variables.$red;
    }
  }
}

.close-icon {
  display: none;
}

.menu-toggler {
  cursor: pointer;

  &__line {
    width: 20px;
    height: 2px;
    background: variables.$white;
    display: block;

    &_2 {
      margin-top: 5px;
    }

    &_3 {
      margin-top: 5px
    }
  }
}

.share-block {

  &.active {
    .share-block__item {
      visibility: visible;
      height: 40px;
    }

    .close-icon {
      display: block !important;
    }

    .header__icon {
      display: none;
    }
  }

  &__content {
    position: absolute;
    right: 0;
    bottom: -60px;
  }

  &__item {
    background-color: #efefef;
    width: 40px;
    //height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: variables.$transition;
    height: 0;
    visibility: hidden;

    &:hover {
      .share-block__icon {
        fill: variables.$white;
      }
    }

    &_facebook {
      &:hover {
        background: #3b5998;
      }
    }

    &_google {
      &:hover {
        background: #dd4b39;
      }
    }

    &_instagram {
      &:hover {
        background: #517fa4;
      }
    }

    &_tumblr {
      &:hover {
        background: #32506d;
      }
    }

    &_twitter {
      &:hover {
        background: #00aced;
      }
    }

    &_youtube {
      &:hover {
        background: #bb0000;
      }
    }
  }

  &__icon {
    transition: variables.$transition;
    max-width: 15px;
    fill: #000;
  }
}

.search-block {
  &.active {
    .close-icon {
      display: block !important;
    }

    .header__icon {
      display: none;
    }

    .search-block__input {
      height: 40px;
      padding: 9px 12px 9px 10px;
      border: 1px solid #ddd;

    }
  }
  &__content {
    @extend .share-block__content;
  }

  &__input {
    transition: variables.$transition;
    width: 200px;
    font-size: 13px;
    line-height: 20px;
    outline: none;
    height: 0;
    padding: 0;
    border: none;
  }
}

.blog-post {
  position: relative;
  z-index: 0;

  &:not(:first-child) {
    margin-top: 25px;
  }

  &__image-wrapper {
    padding-top: 45%;
    background-size: cover;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      .blog-post__image {
          transform: scale(1.6);
      }
    }
  }

  &__category {
    position: absolute;
    color: variables.$white;
    background-color: variables.$red;
    left: 30px;
    bottom: 60px;
    text-transform: capitalize;
    display: inline-block;
    padding: 2px 8px;
    z-index: 9;
  }

  &__author {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -37px;
    margin-left: 30px;
    z-index: 9;
    position: relative;
  }

  &__image {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    transition: 1.5s ease;
    @extend %fitted-image
  }

  &__author-avatar {
    @extend %fitted-image
  }

  &__author-name {
    color: variables.$red;
  }

  &__title {
    color: variables.$dark;
    font-size: 20px;
    text-transform: uppercase;
    //letter-spacing: 2px;
    font-family: variables.$font_family;
  }

  &__open-btn {
    color: variables.$red;
    font-family: variables.$font_family2;
    text-transform: uppercase;
    position: relative;

    &:hover {
      color: variables.$dark;

      .blog-post__right-arrow {
        color: variables.$dark;
        left: calc(100% + 10px);
        opacity: 1;

      }
    }
  }

  &__right-arrow {
    opacity: 0;
    width: 15px;
    position: absolute;
    left: 0;
    color: variables.$red;
    transition: variables.$transition;
  }
}

.blogs-pagination {
  &__item {
    &:not(:last-child) {
      .blogs-pagination__link {
        border-right: none !important;
      }
    }
  }

  &__link {
    min-width: 33px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    color: variables.$gray;
    transition: variables.$transition;
    font-weight: 500;

    &:hover {
      background-color: variables.$red;
      color: variables.$white;
    }

    &_arrow {
      font-family: variables.$font_family2;
      font-size: 15px;
    }
  }
}

.footer {
  background-image: url("../img/bg1.jpg");
  position: relative;
  color: variables.$lighter_gray;

  &__content {
    position: relative;
    z-index: 9;
  }

  &__overlay {
    @extend .header__overlay;
    background-color: #232e35;
    opacity: 0.9;
  }

  &__col-header {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    color: variables.$white;
  }

  &__col-item {
    margin-bottom: 20px;
  }

  &__link {
    color: variables.$lighter_gray;
    transition: variables.$transition;

    &:hover {
      color: variables.$red;
    }
  }

  &__subscribe-input {
    padding: 13px;
    border-radius: 0;
    border: 1px solid #eee;
    height: 53px;
    margin-right: 0;
    outline: none;
    max-width: 60%;
  }

  &__copyright {
    color: variables.$white;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__subscribe-btn {
    background: variables.$red;
    color: rgba(0,0,0, 0) !important;
    text-transform: uppercase;
    padding: 10px 25px;
    border: none;
    height: 53px;
    margin-left: -5px;
    font-family: variables.$font_family2;
    text-shadow: 0 0 0 variables.$white, 200px 0 0 variables.$white;
    overflow: hidden;
    letter-spacing: 1px;
    cursor: pointer;
    transition: variables.$transition;

    &_small {
      height: 40px;
      font-size: 14px;
    }

    &:hover {
      text-shadow: -200px 0 0 variables.$white, 0 0 0 variables.$white;
    }
  }

  &__cols {
    border-bottom: 1px solid #424242;;
  }

  &__social-icon {
    transition: variables.$transition;
    fill: variables.$white;
    max-width: 12px;
  }

  &__social-item {
    display: inline-flex;
    width: 15px;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &:hover {
      .footer__social-icon {
        fill: variables.$red
      }
    }
  }
}

.search-box {
  &__input {
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 9px 12px 9px 10px;
    border: 1px solid #e1e1e1;
    width: calc(100% - 40px);
  }

  &__btn {
    background: transparent;
    border: 1px solid #e1e1e1;
    border-left-color: transparent;
    height: 40px;
    width: 40px;
    float: right;
    cursor: pointer;
  }

  &__icon {
    width: 15px;
  }
}

.categories {
  &__item {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    color: variables.$dark
  }

  &__txt {
    transition: variables.$transition;
    color: variables.$dark;

    &:hover {
      color: variables.$lighter_gray;
    }
  }

  &__count {
    font-size: 12px;
  }
}

.post {
  &__thumbnail {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }

  &__thumbnail-img {
    @extend %fitted-image;
  }

  &__item {
    color: variables.$dark
  }

  &__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__date {
    color: variables.$gray;
    margin-top: 15px;
    font-size: 14px;
  }
}

.tag {
  &__item {
    padding: 8px 14px;
    font-size: 16px;
    display: inline-block;
    margin: 0 0 5px;
    color: variables.$dark;
    position: relative;
    background-color: #f9f9f9;
    transition: variables.$transition;
    cursor: pointer;

    &:hover {
      color: variables.$gray
    }
  }
}

.characteristics {
  margin-top: -100px;
  background: variables.$bg_light;
}

.characteristic {
  position: relative;

  &:hover {
    .characteristic__hover {
      opacity: 1;
      bottom: 0;
      visibility: visible;
    }
  }

  &__thumbnail {
    padding-top: 100%;
    position: relative;
    z-index: 9;

  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    @extend %fitted-image
  }

  &__hover {
    text-align: center;
    padding: 25px;
    color: variables.$white;
    background: variables.$red;
    transition: variables.$slow_transition;
    position: absolute;
    bottom: -80px;
    opacity: 0;
    z-index: 9;
    visibility: hidden;
  }

  &__title {
    text-transform: uppercase;
    color: variables.$dark;
    margin-top: 20px;
  }

  &__more {
    color: variables.$white;

    &:hover {
      color: variables.$dark;
    }
  }
}

.about {
  background: variables.$bg_light;

  &__icon {
    img {
      width: 30px;
    }
  }

  &__item {
    background: variables.$white;
    padding: 20px;
    transition: variables.$transition;

    &:hover {
      background: variables.$dark;
      color: variables.$white;

      .box-title {
        color: variables.$white;
      }
    }
  }

  .footer__subscribe-btn {
    margin-bottom: -45px;
    display: block;
  }
}

.services {
  background: variables.$bg_light;
  position: relative;

  &__icon {
    img {
      width: 30px;
    }
  }

  &__content {
    position: relative;
    z-index: 9;
    color: variables.$white;

    @include media.lg-less {
      color: variables.$dark
    }
  }

  &:after {
    content: "";
    background: url("../img/bg-3.jpg");
    filter: brightness(0.2);
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include media.lg-less {
      display: none;
    }
  }

  &__item {
    background: variables.$white;
    padding: 30px;
    color: variables.$dark;
    line-height: 35px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      border: 13px solid variables.$red;
      border-left-color: transparent;
      border-top-color: transparent;
      right: 4px;
      display: none;
    }

    &.active {
      color: variables.$white;
      background: variables.$dark;

      &:after {
        display: block;
      }
    }
  }

  &__thumbnail {

  }

  &__thumbnail-image {
    max-width: 100%;
  }
}

.contact {
  background: url("../img/bg-5.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: variables.$white;

  &__car {
    max-width: 290px;

    @include media.md-less {
      max-width: 150px;
    }

    @include media.sm-less {
      max-width: 100px;
    }
  }

  &__cars {
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: -65px;

    @include media.md-less {
      bottom: -30px;
    }
  }

  &__caption {
    max-width: 400px;
    margin: auto;
  }

  &__overlay {
    @extend .header__overlay
  }

  &__content {
    position: relative;
    z-index: 8;
  }
}

.reasons {
  position: relative;
  background-image: url("../img/bg-4.jpg");
  background-size: cover;

  &__icon {
    img {
      width: 30px;
    }
  }

  &__img-item {
    max-width: 100%;
  }

  &__list-item {
    padding-left: 20px;
    position: relative;

    &:before {
      content: '>';
      color: variables.$dark;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__title {
    color: variables.$dark
  }

  &__main {
    background: variables.$white;
  }

  &__item {
    cursor: pointer;
    padding: 20px 5px;

    &.selected {
      background: variables.$white;
    }
  }

  &__content {
    position: relative;
    z-index: 8;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f7f8;
    opacity: 0.9;
  }
}

.offer {
  position: relative;
  color: variables.$white;
  background: variables.$bg_light;

  @include media.md-less {
    color: variables.$dark
  }

  &__scissors {
    width: 60px;
    height: 50px;
    fill: variables.$white;
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;

    @include media.md-less {
      fill: variables.$dark;
    }
  }

  &__right-content {
    position: relative;
    z-index: 8;
    display: inline-block;
    border: 2px dashed variables.$white;
    padding: 30px;

    @include media.md-less {
      border-color: variables.$dark;
    }
  }

  &__coupon {
    line-height: 40px;
  }

  &__percent {
    font-size: 60px;
    font-family: variables.$font_family2;

    @include media.md-less {
      font-size: 40px;
    }
  }

  &__overlay {
    position: absolute;
    right: 0;
    width: 50%;
    top: 0;
    height: 100%;
    background: variables.$red;
    opacity: 0.9;
    z-index: 8;

    @include media.md-less {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: calc(100% - 30px);
    background: variables.$dark;

    @include media.md-less {
      display: none;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: url("../img/bg-6.jpg");
    background-size: cover;

    @include media.md-less {
      display: none;
    }
  }

  &__btn {
    color: variables.$white;

    @include media.md-less {
      color: variables.$dark;
    }

    svg {
      //fill: variables.$white
    }
  }
}

.news {
  background: variables.$bg_light;

  &__item {
    background: variables.$white
  }

  &__title {
    color: variables.$dark;
  }

  &__thumbnail {
    width: 70%;
    height: 300px;

    @include media.sm-less {
      width: 90%;
    }
  }

  &__thumbnail-img {
    @extend %fitted-image
  }

  &__details {
    padding: 30px;
  }
}